<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">    
    <style>
        html, body {
            height: 100%;
        }

        body.dark {
            background-color: #000;
            color: #ddd;
        }
        body.dark .swal-modal {
            background-color: #000;
        }
        body.dark .swal-button {
            background-color: #333;
        }
        body.dark .form-check-input:checked {
            background-color: #333;
            border-color: #333;
        }

        .menu-div {
            display: flex;
            position: absolute;
            flex-direction: column;
            top: 1rem;
            right: 1rem;
        }

        .menu-div svg {
            margin: 0.15rem 0rem;
            height: 40px;
            width: 40px;
            cursor: pointer;
        }

        .photo-div {
            position: absolute;
            bottom: 1rem;
            left: calc(50% - 25px);         
        }

        .photo-div svg {
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center h-100">
        <video id="webcam" autoplay playsinline style="max-width: 100%;"></video>        
    </div>
    <div class="photo-div" onclick="captureImage()">
        <i data-feather="aperture"></i>
    </div>
    <div class="menu-div">
        <i data-feather="settings" onclick="openSettings()"></i>
        <i data-feather="clock"></i>
    </div>
    <canvas id="canvas" class="d-none"></canvas>
    <!-- Toast -->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="toast" class="toast align-items-center text-white border-0 hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toast-body"></div>
                <button id="toast-close-button" type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <script> 
        // global state
        const globalState = {};
        globalState.internalSnapshot = localStorage.getItem('application-state');
        if (globalState.internalSnapshot !== null) {
            globalState.internalSnapshot = JSON.parse(globalState.internalSnapshot);
        }
        else {
            globalState.internalSnapshot = {
                darkMode: false,
                automaticSave: true
            }
        }
        // state functions
        globalState.observers = [];
        globalState.set = (key, value) => {
            globalState.internalSnapshot[key] = value;
            for (let observer of globalState.observers) {
                observer(globalState.internalSnapshot);
            }
        }
        globalState.register = observer => {
            globalState.observers.push(observer);
        }

        // register an observer
        const stateObserver = snapshot => {
            console.log(snapshot);
            if (snapshot.darkMode) {
                document.body.classList.add('dark');
            }
            else {
                document.body.classList.remove('dark');
            }
        }
        globalState.register(stateObserver);
        // init
        stateObserver(globalState.internalSnapshot);
        
        feather.replace();

        const webcamElement = document.getElementById('webcam');
        const canvasElement = document.getElementById('canvas');

        const webcam = new Webcam(webcamElement, 'environment', canvasElement, null);
        webcam.start()
        .catch(err => {
            swal('No Camera Found!', 'Sorry, this application requires a camera to function!', 'error');
        });

        function captureImage() {
            const image = webcam.snap();
            axios.post('/', { image }).then(response => {
                swal('Result', response.data, 'success');
            }).catch(error => {
                swal('Error!', error.message, 'error');
            });
        }

        function openSettings() {
            const content = document.createElement('div');
            content.style.textAlign = 'left';
            content.style.marginTop = '4rem';

            content.innerHTML = `
            <div class="form-check form-switch d-flex align-items-center mb-3">
                <input ${globalState.internalSnapshot.darkMode ? 'checked' : ''} onchange="globalState.set('darkMode', event.target.checked)" class="form-check-input mt-0" style="font-size: 2rem; margin-left: 0rem;" type="checkbox" id="darkMode">
                <label class="form-check-label" style="font-size: 1.5rem; margin-left: 1rem;" for="darkMode">Dark Mode</label>
            </div>
            <div class="form-check form-switch d-flex align-items-center mt-3">
                <input ${globalState.internalSnapshot.automaticSave ? 'checked' : ''} onchange="globalState.set('automaticSave', event.target.checked)" class="form-check-input mt-0" style="font-size: 2rem; margin-left: 0rem;" type="checkbox" id="automaticSave">
                <label class="form-check-label" style="font-size: 1.5rem;  margin-left: 1rem;" for="automaticSave">Automatically Save Results</label>
            </div>
            `;
            swal({ content, button: 'Save' }).then(save => {
                if (save) {
                    localStorage.setItem('application-state', JSON.stringify(globalState.internalSnapshot));
                }
            })
        }

        function toast(body, type = 'notice') {
            const toast = new bootstrap.Toast(document.getElementById('toast'));
            if (type === 'notice') {
                document.getElementById('toast').classList.remove('bg-danger', 'text-white');
                document.getElementById('toast-close-button').classList.remove('btn-close-white');
            }
            else if (type === 'error') {
                document.getElementById('toast').classList.add('bg-danger', 'text-white');
                document.getElementById('toast-close-button').classList.add('btn-close-white');
            }

            document.getElementById('toast-body').innerText = body;
            toast.show();
        }
    </script>
</body>
</html>